@import "include-media";

$sans-serif: Helvetica, sans-serif;
$serif: Georgia, serif;
$monospace: Lucida Console, monospace;
$code-size: 80%;
$smaller: 90%;
$max-width: 700px;

body {
    width: 95%;
    margin: 2%;
    font: normal normal normal 17px/1.6em $sans-serif;
    color: #333;

    @include media('>tablet') {
        width: $max-width;
        margin-left: 5vw;
    }
}

::selection {
    background: #D6EDFF;
}

.title {
    text-align: center;
    margin: auto;
    color: black;
}

.subtitle {
    text-align: center;
    font-size: medium;
    font-weight: bold;
}

.abstract {
    margin: auto;
    width: 80%;
    font-style: italic;
}

.abstract p:last-of-type:before {
    content: "    ";
    white-space: pre;
}

.status {
    font-size: $smaller;
    margin: 2em auto;
}

[class^="section-number-"] {
    margin-right: .5em;
}

#footnotes {
    font-size: $smaller;
}

.footpara {
    display: inline;
    margin: .2em auto;
}

.footdef {
    margin-bottom: 1em;
}

.footdef sup {
    padding-right: .5em;
}

a {
    color: #527d9a;
    text-decoration: none;
}

a:hover {
    color: #003355;
    border-bottom: 1px dotted;
}

figure {
    padding: 0px;
    margin: 0px;
    text-align: center;
}

img {
    max-width: 100%;
    vertical-align: middle;

    @include media('>tablet') {
        max-width: 85vw;
        margin: auto;
    }
}

.MathJax_Display {
    margin: 0!important;
    width: $smaller!important;
}

h1,h2,h3,h4,h5,h6 {
    color: #A5573E;
    line-height: 1.6em;
    font-family: $serif;
}

h4,h5,h6 {
    font-size: 1em;
}

dt {
    font-weight: bold;
}

/* table */

table {
    margin: auto;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid;
}

table td + td, table th + th {
    border-left: 1px solid gray;
}

table tr {
    border-top: 1px solid lightgray;
}

td,th {
    padding: 5px 10px;
    vertical-align: middle;
}

caption.t-above {
    caption-side: top;
}

caption.t-bottom {
    caption-side: bottom;
}

th.org-right {
    text-align: center;
}

th.org-left {
    text-align: center;
}

th.org-center {
    text-align: center;
}

td.org-right {
    text-align: right;
}

td.org-left {
    text-align: left;
}

td.org-center {
    text-align: center;
}

code {
    padding: 2px 5px;
    margin: auto 1px;
    border: 1px solid #DDD;
    border-radius: 3px;
    background-clip: padding-box;
    color: #333;
    font-size: $code-size;
}

blockquote {
    margin: 1em 2em;
    padding-left: 1em;
    border-left: 3px solid #ccc;
}

kbd {
    background-color: #f7f7f7;
    font-size: $code-size;
    margin: 0 .1em;
    padding: .1em .6em;
}

.todo {
    color: red;
    font-family: $monospace;
}

.done {
    color: green;
    font-family: $monospace;
}

.priority {
    color: orange;
    font-family: $monospace;
}

.tag {
    background-color: #eee;
    font-family: $monospace;
    font-size: 80%;
    font-weight: normal;
    padding: 2px;
}

.timestamp {
    color: #bebebe;
}

.timestamp-kwd {
    color: #5f9ea0;
}

.org-right {
    margin-left: auto;
    margin-right: 0px;
    text-align: right;
}

.org-left {
    margin-left: 0px;
    margin-right: auto;
    text-align: left;
}

.org-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.underline {
    text-decoration: underline;
}

#postamble p, #preamble p {
    font-size: $smaller;
    margin: .2em;
}

p.verse {
    margin-left: 3%;
}

pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    font-family: $monospace;
    margin: 1.2em;
    padding: 8pt;
}

pre.src {
    overflow: auto;
    padding-top: 1.2em;
    position: relative;
    font-size: $code-size;
}

pre.src:before {
    background-color: white;
    border: 1px solid black;
    display: none;
    padding: 3px;
    position: absolute;
    right: 10px;
    top: .6em;
}

pre.src:hover:before {
    display: inline;
}

pre.src-sh:before {
    content: 'sh';
}
pre.src-bash:before {
    content: 'bash';
}
pre.src-emacs-lisp:before {
    content: 'Emacs Lisp';
}
pre.src-R:before {
    content: 'R';
}
pre.src-org:before {
    content: 'Org';
}
pre.src-c++:before {
    content: 'C++';
}
pre.src-c:before {
    content: 'C';
}
pre.src-html:before {
    content: 'HTML'
}

.inlinetask {
    background: #ffffcc;
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
}

#org-div-home-and-up {
    font-size: 70%;
    text-align: right;
    white-space: nowrap;
}

.linenr {
    font-size: smaller;
}

.code-highlighted {
    background-color: #ffff00;
}

#bibliography {
    font-size: $smaller;
}

#bibliography table {
    width: 100%;
}

.creator {
    display: block;

    @include media('>tablet') {
        display: inline;
        float: right;
    }
}

/* .org-info-js_info-navigation { */
/*     border-style: none; */
/* } */
/* #org-info-js_console-label { */
/*     font-size: 10px; */
/*     font-weight: bold; */
/*     white-space: nowrap; */
/* } */
/* .org-info-js_search-highlight { */
/*     background-color: #ffff00; */
/*     color: #000000; */
/*     font-weight: bold; */
/* } */
